body {
  font-family: 'Chakra Petch', sans-serif;
  background-image: linear-gradient(to bottom, #4dc4ef, #40afe0, #389ad1, #3385c0, #3271ae, #34649e, #34588d, #324c7d, #31456c, #303e5c, #2e374c, #2b303c);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

#img_logodcr{
  width: 62x;
  height: 62px;
  border-radius: 16px;
  margin-left: 10px;
  margin-top: 2px;
  align-self: center;
}

#button_logoutdcr {
  font-size: 28px;
  border-radius: 5px;
  box-shadow: 2px 2px 12px #374258;
  width: 80px;
  float: right;
  background-color: #2b303c;
height: 50px;
color: #4dc4ef;
border-radius: 8px;
margin-right: 10px;
margin-top: 10px;
font-weight: 600;
}


#input_messagedcr{
  border-radius: 10px;
  height: 31px;
  width: 800px;
  border-color: #4DC4EF;
  border-width: 2px;
  color: #2B303C;
  
}
#h1_octakdcr{
color: #2B303C;
font-size: 80px;
font-weight: 800;
}

#div_contactdcr {
  color: #4DC4EF;
  background-color: #2b303c;
  margin-top: 400px;
  box-shadow: 2px 2px 12px rgb(45, 103, 184);
  width: 100%;
  bottom: 0;
}

#div_senddcr{
  bottom: 0;
}

#div_trendingdcr{
  box-shadow: 5px 5px 30px #345bb0;
  border-radius: 8px;
  overflow: scroll;
  width: 60%;
  height: 400px;
 color: #4dc4ef;
 background-color: #2B303C;
 box-shadow: 8px 8px 32px #36569f;
}

#button_senddcr{
  background-color: #2B303C;
  font-size: medium;
  font-weight: 600;
  color: #4dc4ef;
  border-radius: 8px;
  width: 100px;
  height: 35px;
}

#div_changedcr{
  box-shadow: 2px 2px 12px rgb(28, 32, 40); 
  float: left; 
  width: 275px;
  height: 548;
  border-radius: 8px;
  }
  
  #div_reviewdcr{
    background-image: linear-gradient(to top, #346bb7, #3c76c7, #4580d7, #4d8be7, #5696f8);  color: whitesmoke;
    border-radius: 10px;
    margin-left: 10px;
    float: left;
    box-shadow: 2px 2px 12px #254462;
    font-weight: bold;
    width: 260px;
    height: 60px;
    font-size: 34px;
    display: flex;
    font-weight: bold;
    margin-left: 10px;
    text-align: center;
  }
  
  #div_reviewdcr:hover {
    transform: scale(1.02);
    transition: 0.2s;
    background-color: #ffffff;
  }
  
  #div_chatdcr{
    background-image: linear-gradient(to right top, #466797, #406aa1, #376dab, #2971b6, #0f74c0);
    color: whitesmoke;
    border-radius: 10px;
    margin-left: 10px;
    float: left;
    box-shadow: 2px 2px 12px #254462;
    font-weight: bold;
    width: 260px;
    height: 60px;
    font-size: 34px;
    display: flex;
    font-weight: bold;
    margin-left: 10px;
    text-align: center;
  }
  
  #div_chatdcr:hover {
    transform: scale(1.02);
    transition: 0.2s;
    background-color: #ffffff;
  }
  
  #div_gamedcr{
    background-image: linear-gradient(to bottom, #416394, #3761a7, #335eb8, #3c58c8, #4f50d4);
    color: whitesmoke;
    border-radius: 10px;
    margin-left: 10px;
    float: left;
    box-shadow: 2px 2px 12px #254462;
    font-weight: bold;
    width: 260px;
    height: 60px;
    font-size: 34px;
    display: flex;
    font-weight: bold;
    margin-left: 10px;
    text-align: center;
  }
  
  #div_gamedcr:hover {
    transform: scale(1.02);
    transition: 0.2s;
    background-color: #ffffff;
  }
  
  #div_sportdcr{
    background-image: linear-gradient(to top, #4d7bc0, #3a6bc4, #3358c6, #3a43c3, #4b25bc);
    color: whitesmoke;
    border-radius: 10px;
    margin-left: 10px;
    float: left;
    box-shadow: 2px 2px 12px #254462;
    font-weight: bold;
    width: 260px;
    height: 60px;
    font-size: 34px;
    display: flex;
    font-weight: bold;
    margin-left: 10px;
    text-align: center;
  }
  
  #div_sportdcr:hover {
    transform: scale(1.02);
    transition: 0.2s;
    background-color: #ffffff;
  }
  
  #div_creatordcr{
    background-image: linear-gradient(to top, #537fbc, #4579c2, #3772c7, #2a6bcb, #1c63cf);
    color: whitesmoke;
    border-radius: 10px;
    margin-left: 10px;
    float: left;
    box-shadow: 2px 2px 12px #254462;
    font-weight: bold;
    width: 260px;
    height: 60px;
    font-size: 34px;
    display: flex;
    font-weight: bold;
    margin-left: 10px;
    text-align: center;
  }
  
  #div_creatordcr:hover {
    transform: scale(1.02);
    transition: 0.2s;
    background-color: #ffffff;
  }
  
  #div_revampdcr{
    background-image: linear-gradient(to left top, #2e79e5, #3373db, #366dd1, #3868c8, #3a62be);
    color: whitesmoke;
    border-radius: 10px;
    margin-left: 10px;
    float: left;
    box-shadow: 2px 2px 12px #254462;
    font-weight: bold;
    width: 260px;
    height: 60px;
    font-size: 34px;
    display: flex;
    font-weight: bold;
    margin-left: 10px;
    text-align: center;
  }
  
  #div_revampdcr:hover {
    transform: scale(1.02);
    transition: 0.2s;
    background-color: #ffffff;
  }
  
  #div_techdcr{
    background-image: linear-gradient(to top, #7baffd, #5f91f3, #4d71e5, #474fd3, #4b25bc);
    color: whitesmoke;
    border-radius: 10px;
    margin-left: 10px;
    float: left;
    box-shadow: 2px 2px 12px #254462;
    font-weight: bold;
    width: 260px;
    height: 60px;
    font-size: 34px;
    display: flex;
    font-weight: bold;
    margin-left: 10px;
    text-align: center;
  }
  
  #div_techdcr:hover {
    transform: scale(1.02);
    transition: 0.2s;
    background-color: #ffffff;
  }

 .button_likedcr{
    background-color: #2B303C;
    font-size: medium;
    font-weight: 600;
    color: #4dc4ef;
    border-radius: 8px;
    width: 120px;
    height: 35px;
    border-color: #4dc4ef;
  }

  .img_tick{
    width: 35px;
    height: 35px;
    margin-left: 10px;
    margin-top: 2px;
    border-radius: 10px;
  }

  #div_message{
    box-shadow: 2px 2px 12px #4dc4ef;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    border-color: #4DC4EF;
    padding-left: 8px;
  }